@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  font-family: 'IBM Plex Mono', sans-serif;
}

body{
  background-image: radial-gradient(black 1px, transparent 0);
  background-size: 70px 70px;
  background-color: #fff;
}